/* 
ELEMENTO e AREA : CARROUSEL DE PROJETOS 


*/
.carrousel-clients { 
    display: flex;
    align-items: center;
    justify-content:start;
     flex-direction: row;    
     flex-wrap:wrap; 
     background-color: #010F04;
    gap: 2vh; 
     grid-area: clientes; 
    padding: 2vh; 
    border-bottom: 1px solid #00421f ;
  } 
  
  .project {
    width: 40%; 
    display: flex;
    align-items: center;  
   flex-wrap: wrap;
     justify-content: center; 
    flex-direction: row;
  } 
  .project img  {
    height: 10vh;
  } 
 
  .project img  {
    height: 10vh;
  } 
