/*  
DEVELOPER : THIAGO DUARTE 
ELEMENTO : CONFIGURAÇÕES  DO FOOTER 
*/
.footer { 
    padding-top: 5vh;
    background-color:#04270C; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}  

.logo-footer{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2vh;
    height: 10vh;
}  
.text {
    text-align: center; 
    color: #7B887E; 
    padding: 2vh;
}
.logo-footer img {
    height: 100%;
}