.vantege {
  grid-area: vantage;
  background-color: #010f04;
  padding: 1vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 100%;
  gap: 4vh;
}
.card-vantage {
  border: 1px solid #173f10;
  padding: 3vh;
  border-radius: 3vh;
  background-color: #051507;
  transition: 0.5s; 
  width: 90%;
}
.card-img {
  background-color: #022c0c31;
  clip-path: circle();
  width: 30%;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-vantage img {
  height: 10%;
}
.card-text {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7vh;
  gap: 2vh;
  padding-bottom: 2vh;
}
.card-text p {
  color: #acb5ae;
}
.card-vantage:hover {
  background-color: #0ce93c;
  color: white;
} 

