<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/pages/product-page/assets/css/main.css" />
    <link rel="stylesheet" href="/pages/product-page/assets/css/layout.css" />
    <link rel="stylesheet" href="/pages/product-page/assets/css/home.css" />
    <link rel="stylesheet" href="/pages/product-page/assets/css/clients.css" />
    <link rel="stylesheet" href="/pages/product-page/assets/css/vantage.css" />
    <link rel="stylesheet" href="/pages/product-page/assets/css/projects.css" /> 
    <link rel="stylesheet" href="/pages/product-page/assets/css/more.css"> 
    <link rel="stylesheet" href="/pages/product-page/assets/css/footer.css"> 
    <link rel="stylesheet" href="/pages/product-page/assets/css/mediaQueries/tablet.css"> 
    <link rel="stylesheet" href="/pages/product-page/assets/css/mediaQueries/desktop.css">
    <title>Reciclador Digital</title>
  </head>
  <body>  
    
    <!-- CONTEUDO PRINCIPAL -->
    <main class="content"> 
      <section class="home" id="home">
        <header class="cabecalho">
          <!--header structure  -->
          <div class="logo">
            <img src="/assets/utilites/logo.png" alt="logo" />
          </div>
          <!-- nav-links -->
          <nav class="nav-links">
            <ul class="links">
              <li id="home-link" onclick="location.href ='/'">Home</li>
              <li id="quem-somos-link">Quem somos</li>
              <li id="product"onclick="location.href ='/products/'">Produtos
              </li>
              <a href="https://api.whatsapp.com/send?phone=553198328108&text=Ol%C3%A1,%20quero%20saber%20mais%20sobre%20o%20Reciclador%20Digital%20!">
                <li id="contato-link">Contato</li>
              </a>
            </ul>
          </nav>
        </header>
        <!-- principal content -->
        <section id="principal-content" class="principal-content">
          <div class="img-content">
            <img src="/assets/utilites/ARTE-01.png" />
          </div>
          <div class="content-text">
            <h1 class="content-title">
              <span style="font-weight: bold"
                >Produtos<br />
                Qualidade, Sustentabilidade, Eficiência</span
              >
              <span style="color: #0ce93c"> é Aqui.</span>
            </h1>
            <span class="subtitle">
              ECONOMIZE E CONTRIBUA! COMPRE E VENDA PRODUTOS RECICLÁVEIS!
            </span>
            <p class="paragraph-text">
              Recicle com facilidade! O Reciclador Digital reúne vendedores e<br /><br />compradores de materiais recicláveis - <br/><br />promovendo sustentabilidade e economia para todos.
            </p>
            <div class="buttons">
              <div id="go-to-form" class="button more">
                Mais
                <img src="/assets/utilites/arow.svg" alt="" />
              </div>
              <div class="button all-products">
                Início
                <img src="/assets/utilites/arow2w.svg" alt="" />
              </div>
            </div>
          </div>
        </section>
      </section>
      <!-- CARROUSEL CLIENTES --> 
      <section class="carrousel-clients">
        <div class="project">
          <img src="/assets/utilites/logos/1.png" alt="" />
        </div>
        <div class="project">
          <img src="/assets/utilites/logos/2.png" alt="" />
        </div>
        <div class="project">
          <img src="/assets/utilites/logos/3.png" alt="" />
        </div>
        <div class="project">
          <img src="/assets/utilites/logos/4.png" alt="" />
        </div>
        <div class="project">
          <img src="/assets/utilites/logo.png" alt="" />
        </div>
      </section>
     <!-- PRODUCTS-AREA  -->
      <section class="projects">
        <div class="projects-title">
          <h2 class="title-projects">Conheça Nossos Produtos </h2>
          <p>
            Explore esses  
            <span style="color: #0ce93c">5+</span> projetos visionários que estão moldando o futuro em diversas dimensões. Cada iniciativa representa nosso compromisso com a inovação e o impacto positivo. 
          </p>
        </div>
        <div id="cards-area-projects" class="cards-area-projects">
                <!--  -->  
          <%  allProducts.forEach(product=>{ %> 
            <div class="projetct-card-body">
              <div class="info-project-name">
                <div class="img-project">
                <img src="/uploads/<%=product.productImage  %>" alt="" />
                 
                </div>
                <h2><%= product.name%></h2>
              </div>
              <div class="description">
                <%= product.description %>
              </div>
              <button class="project-card-button" onclick="location.href = '<%= product.urlOfUpsellPage%>'" type="button">
                Saiba Mais
              </button>
         </div>
          <%  }) %>
               
        </div>
      </section>  
    <!-- MORE-AREA -->
      <section class="more-cta">
        <div class="title-text-more">
          <span class="pre-title" style="color: #0ce93c;">Investir na sustentabilidade!</span>
          <h2 class="title-more">Seja parte da mudança, seja um investidor agora!</h1> <br><br>
          <span class="subtitle-more" > Uma plataforma revolucionária, unindo recicladores para compra e venda eficiente de materiais recicláveis.  </span>
          <p class="paragraph-more">
            Descubra o Reciclador Digital, onde recicladores impulsionam a economia verde, comprando e vendendo materiais recicláveis. Seja parte dessa revolução ambiental. Invista no Reciclador Digital hoje.
          </p> 
          <div class="buttons-2 buttons">
            <div id="go-to-form2" class="button more"onclick="location.href ='/'">
              Mais
              <img src="/assets/utilites/arow.svg" alt="" />
            </div>
            <div class="button all-products" onclick="location.href ='/products/'">
              Produtos
              <img src="/assets/utilites/arow2w.svg" alt="" />
            </div>
          </div> 
        </div> 
        <div class="image-more"><img src="/assets/utilites/celular.png" alt=""></div>
      </section>  
      <!-- footer-area -->
      <footer class="footer">
        <div class="logo-footer">
            <img src="/assets/utilites/logo.png" alt="">
        </div>
        <div class="text">
            <p>Seja parte da mudança, seja um investidor agora!</p>  <br>
            <p>Investir na sustentabilidade!</p> <br>
            <small>© Copyright 2023 <span style="color: #0ce93c;">Reciclador Digital</span> I All Rights Reserved</small>
        </div>
      </footer>
      </main>
    <script src="/assets/pages/product-page/assets/js/redirections.js"></script>
    <script src="/assets/pages/product-page/assets/js/main.js"></script>
  </body>
</html>
