<div class="container-side">
          <div class="sidebar">
            <div class="menu-btn"><i class="ph-bold ph-caret-left"></i></div>
            <div class="head">
              <div class="user-img">
                <% if (user.userPhoto) { %>
                  <img src="/uploads/<%=user.userPhoto%>" alt="">

                  <% } else { %>
                    <img src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTUzMjAyMTh8&ixlib=rb-4.0.3&q=85" alt="">
                 
                <% } %>
              </div>
              <div class="user-details">
                <p class="title"><%=user.office%></p>
                <p class="name"><%=user.name%></p>
              </div>
            </div>
            <div class="nav">
              <div class="menu">
                <p class="title">Main</p>
                <ul>
                  <li><a href="#"><i class="icon ph-bold ph-house-simple"></i><span class="text">Dashboard</span></a></li>
                  <li><a href="#"><i class="icon ph-bold ph-cube"></i><span class="text">Materiais</span><i class="arrow ph-bold ph-caret-down"></i></a>
                    <ul class="sub-menu">
                      <li><a href="/materiais/plastico/"><span class="text">Pláticos</span></a></li>
                      <li><a href="/materiais/metais/"><span class="text">Metais</span></a></li> 
                      <li><a href="/materiais/papel/"><span class="text">Papeis </span></a></li> 
                      <li><a href="/materiais/vidro/"><span class="text">Vidros</span></a></li>
        
                      
                    </ul>
                  </li> 
                  <li  ><a href="/admin/"><i class="icon ph-bold ph-box-arrow-up"></i><span class="text">Produtos</span></a></li>
                  <% if(user.office === "Administrador")  { %>
                    <li><a href="/users/"><i class="icon ph-bold ph-user"></i><span class="text">Usuários</span></a>
                   <% }%>
                   
                  </li>
                  <li><a href="/projects"><i class="icon ph-bold ph-file-text"></i><span class="text">Projetos</span></a></li>
                </ul>
              </div>
              <div class="menu">
                <p class="title">Settings</p>
                <ul>
                  <li><a href="/configuracoes/"><i class="icon ph-bold ph-gear"></i><span class="text">Settings</span></a></li>
                </ul>
              </div>
            </div>
            <div class="menu">
              <p class="title">Account</p>
              <ul>
                <li><a href="#"><i class="icon ph-bold ph-info"></i><span class="text">FAQ</span></a></li>
                <li><a href="/logout/"><i class="icon ph-bold ph-sign-out"></i><span class="text">Logout</span></a></li>
              </ul>
            </div>
          </div>
        </div>